
.product-group {
  grid-column: span 4; // Ensure each product group spans all columns
  margin-bottom: 20px; // Adjust the margin as needed
}

.product-group h2 {
  margin-bottom: 10px; // Adjust the margin as needed
}

.product-group-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 50px; // Adjust the gap between products as needed
  row-gap: 50px;
}

.products-container {
  padding: 30px ;
}